<%= form_for(@visitante_credenciado) do |f| %>
  <% if @visitante_credenciado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@visitante_credenciado.errors.count, "error") %> prohibited this visitante_credenciado from being saved:</h2>

      <ul>
      <% @visitante_credenciado.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<!--
  <div class="field">
    <%= f.label :usuario %><br />
    
    <label><%= current_usuario.id %></label>
    <%= f.text_field :usuario, :value => current_usuario %>
    
  </div>
 -->
   <div class="field">
    <%= @visitante_credenciado.usuario.id %><br />
    
  </div>
  <div class="field">
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :sobrenome %><br />
    <%= f.text_field :sobrenome %>
  </div>
  <div class="field">
    <%= f.label :sexo %><br />
    <%= f.text_field :sexo %>
  </div>
  <div class="field">
    <%= f.label :nascimento %><br />
    <%= f.date_select :nascimento %>
  </div>
  <div class="field">
    <%= f.label :telefone %><br />
    <%= f.text_field :telefone %>
  </div>
  <div class="field">
    <%= f.label :cpf %><br />
    <%= f.text_field :cpf %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
