<p id="notice"><%= notice %></p>

<p>
  <b>Usuario:</b>
  <%= @comentario.usuario %>
</p>

<p>
  <b>Noticia:</b>
  <%= @comentario.noticia %>
</p>

<p>
  <b>Texto:</b>
  <%= @comentario.texto %>
</p>


<%= link_to 'Edit', edit_comentario_path(@comentario) %> |
<%= link_to 'Back', comentarios_path %>
